.list {
	list-style:none;
	margin:0;
	padding:0;
	font-size:13px;
	color:#fff;
	width:500px;
	margin:50px auto;
}
.list li {
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#333;
	cursor:pointer;
}